* {
  font-family: sans-serif, helvetica, arial;

}

h1 {
  color: seagreen;
}

p,
li {
  font-size: 18px;
}

a {
  text-decoration: none;
}

header {
  background-color: lightgray;
  text-align: center;
}
